@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url(fontes/android.otf);
    font-weight: normal;
}

*{
    margin-top: 0px;
    margin-bottom: 0px;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-padrao: Arial,Verdana,Helvetica,Sans-serif;
    --font-destaque: 'Bebas Neue',sans-serif,'cursive';
    --font-especial: 'android','cursive'
}

body{
    background-color: #c6cca5;
    margin: auto;
}

header{
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor5));
    margin: auto;
    text-align: center;
    padding-top: 30px 
}

header > h1{
    font-family: var(--font-destaque);
    color: white;
    font-weight: normal;
    font-size: 3em;
    padding-bottom: 10px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.473);
}

header > p{
    color: white;
    font-family: var(--font-padrao);
    padding-bottom: 20px;
    font-weight: normal;
    margin: auto;
    max-width: 500px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.418);     
}

nav{
    background-color: var(--cor5);
    padding-bottom: 10px;
    margin-top: 0px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.288);

}

nav > a{
    color: var(--cor3);
    padding: 10px 20px 10px 24px;
    font-family: var(--font-padrao);
    text-decoration: none;    
}

nav > a:hover{
    background-color: var(--cor1);
    border-radius: 5px;
    color: var(--cor5);
    text-decoration: underline;
    transition-duration: 0.5s;
}

main {
    min-width: 300px;
    max-width: 800px;
    font-size: 1em;
    text-align: justify;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: -1px 4px 11px 0px rgba(0, 0, 0, 0.397);
}

main > h1{
    font-family: var(--font-especial);
    color: var(--cor5);
    font-weight: normal;
    text-indent: 10px;
}

main > h2{
    background-image: linear-gradient(to right, var(--cor2), transparent 95%);
    font-family: var(--font-especial);
    color: var(--cor5);
    font-size: 1.2em;
    text-indent: 10px;
}

main p{
    padding: 20px 0px;
    font-family: var(--font-padrao);
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.6em;
    text-indent: 30px;
}

main img{
    width: 100%;
}

.bugdroid > img{
    display: block;
    max-width: 300px;
    margin: auto;
    
}
main strong{
    color: var(--cor4);
}

main a{
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor5);
    padding: 0px 5px;
}

main a:hover{
    text-decoration: underline;
}
a.externo::after{
    content: '\00A0\1F517';
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute; 
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    padding-left: 20px;
    padding-right: 20px;
    border-radius:20px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.247);

}

aside h3{
    background-color: var(--cor5);
    padding: 10px 10px 10px 10px;  
    margin: auto;
    margin: 20px -20px -0px -20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    font-family: var(--font-padrao);
    font-weight: normal;
    font-size: 1.2em;   
}

aside > ul{
    list-style-type:"\2714\00A0\00A0";
    columns: 2;
    font-family: var(--font-padrao);
}

aside abbr{
    text-decoration: none;
}

footer{
    background-color: var(--cor5);
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding-bottom: 2px;
}

footer > strong{
    color: var(--cor1);
}

footer > a{
    text-decoration: none;
    color: var(--cor2);
}

footer > a:hover{
    text-decoration: underline;
}